.profile {
	max-width: 600px;
	margin: auto;
	padding: 20px;
}

.profile-settings {
	margin-bottom: 20px;
}

.profile-settings label {
	display: block;
	margin-top: 10px;
	font-weight: bold;
}

#bio {
	width: 100%;
	padding: 8px;
	margin-top: 4px;
}

#saveProfile {
	margin-top: 15px;
	padding: 8px 12px;
	background: steelblue;
	color: #fff;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}
#saveProfile:hover {
	background: darkblue;
}

/* Progress bar */
.progress-container {
	margin-top: 20px;
	
}
.progress-bar {
	width: 100%;
	height: 20px;
	background: #ddd;
	border-radius: 8px;
	border-color: #fff;
	overflow: hidden;
	box-shadow: 12px 12px 12px #51F064;
}
#progressFill {
	height: 100%;
	background: limegreen;
	width: 0%;
}

button, #saveProfile {
  background-color: var(--theme-color);
}

button:hover, #saveProfile:hover {
  filter: brightness(90%);
}
